<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.seekr"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="16"
        android:targetSdkVersion="19" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <permission
      android:name="com.example.seekr.permission.MAPS_RECEIVE"
      android:protectionLevel="signature"/>
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />       		
    <application

        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.Coolactionbar" >
        <uses-library android:name="com.google.android.maps"/>
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <activity
            android:name="com.example.seekr.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
		<activity
            android:name="com.example.seekr.ItemListActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />      	
        </activity>
        
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/app_id" />

        <activity
            android:name="com.facebook.LoginActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.seekr.Panoramio"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>

        <uses-library android:name="com.google.android.maps" />

        <activity
            android:name="com.example.seekr.ImageList"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.Holo" >
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".SearchActivity" />
        </activity>
        <activity
            android:name="com.example.seekr.SearchActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" >
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
        </activity>
        <activity
            android:name="com.example.seekr.ViewImage"
            android:label="@string/app_name" />
        <activity
            android:name="com.example.seekr.ViewMap"
            android:label="@string/app_name" />

        <uses-library android:name="com.google.android.maps" />

        <activity android:name="com.example.seekr.AndroidListViewActivity"
                  android:label="Android List View">
        </activity>
        
        <activity
            android:name="com.example.seekr.ThreadActivity"
            android:theme="@style/AppTheme" >
        </activity>
        <activity android:name="com.example.seekr.CustomWebActivity" />
        <activity android:name="com.example.seekr.NewPostActivity" />
        
        <activity
            android:name="com.example.seekr.EventAddressActivity"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoTitleBar" >
            <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBPkxER39dAr2_vlIQEhsyQLiqT8I6e73I" />
        </activity>
        
        <activity android:name="com.example.seekr.MapDisplayActivity" >
            <meta-data
                android:name="com.google.android.maps.v2.API_KEY"
                android:value="AIzaSyBPkxER39dAr2_vlIQEhsyQLiqT8I6e73I" />
        </activity>

        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyBPkxER39dAr2_vlIQEhsyQLiqT8I6e73I" />
    </application>

</manifest>